---
title: Hex maps
section: data
colour: c5-bg
desc: "Local authority based hex maps for housing data"
---
<div class='grid'>
{{ for page of search.pages('section=hexmap', 'title') }}
    {{ comp.navgrid({ heading: page.title , link: page.url, colour: page.colour, desc: page.desc }) }}
{{ /for }}
</div>