---
title: Hex maps
section: data
colour: c5-bg
desc: "Local authority based hex maps for housing data"
---
{{# {{ JSON.stringify(vacantHomes()) }} #}}
<h3>Vacant homes (%) in England <a id='vacant-homes' class='anchor' href='#vacant-homes' data-dependencies='/assets/js/section-links.js'>§</a></h3>
<p class='warning padded'>We are currently fixing a bug that shows the value as 0% before an area came into existence (e.g. West Suffolk).</p>
{{ comp.oi.map.hex_cartogram({
	config: {
		width: 600,
		hexjson: "hexjson.uk-local-authority-districts-2023",
		data: vacantHomes(),
		scale: 'Viridis',
		columns: [{
				name: 'filterLabel',
				template: "{{ n }}"
			}],
		matchKey: "geography_code",
		value: 2023,
		min: 0,
		max: 7.5,
		legend: { 
			position: "top right",
			items: [{
				value: 7.5,
				label: '>7.5%'
				},
				{
				value: 5,
				label: '5%'
				},
				{
				value: 2.5,
				label: '2.5%'
				},
				{
				value: 0,
				label: '0%'
				}] 
			},
		tools: {
			slider: { 
				columns: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023] 
				},
			filter: {
				label: "filterLabel",
				position: "top left"
			}
		},
		boundaries: {
			country: {
				stroke: "#181b25",
				"stroke-width": 2,
				"stroke-linecap": "round",
				"stroke-opacity": 0.5
				},
			regions: {
				stroke: "#181b25",
				"stroke-width": 2,
				"stroke-linecap": "round",
				"stroke-opacity": 0.5
			}
			},
		tooltip: "<strong class='subtitle'>{{ n }}</strong><br />{{ _value }}: <strong>{{ {{ _value }} }}</strong>%",
		attribution: "<strong>Data:</strong> Vacant home percentages are calculated by dividing the respective counts in <a href='https://www.gov.uk/government/statistical-data-sets/live-tables-on-dwelling-stock-including-vacants'> Table 615: vacant dwellings by local authority district: England, from 2004</a> by the dwelling count estimates in <a href='https://www.gov.uk/government/statistical-data-sets/live-tables-on-dwelling-stock-including-vacants'> Table 125: dwelling stock estimates by local authority district</a>." 
		}
}) }}
<p>
	<strong>Notes:</strong> Table 125 still uses old codes for Cumbria, North Yorkshire and Somerset, so they are not present in the hex map. We are working on a manual fix for this.
	Data for Northern Ireland, Scotland and Wales are published seperately and are not currently included on this site.
</p>

<h3>Median house price to residence-based earnings ratio in England & Wales<a id='house-price-to-earnings-ratio' class='anchor' href='#house-price-to-earnings-ratio' data-dependencies='/assets/js/section-links.js'>§</a></h3>

{{ comp.oi.map.hex_cartogram({
	config: {
		width: 600,
		hexjson: "hexjson.uk-local-authority-districts-2023",
		data: housePriceRatio(),
		scale: 'Viridis',
		columns: [{
				name: 'filterLabel',
				template: "{{ n }}"
			}],
		matchKey: "geography_code",
		value: 2023,
		min: 0,
		max: 30,
		legend: { 
			position: "top right",
			items: [{
				value: 30,
				label: '30+'
				},
				{
				value: 15,
				label: '15'
				},
				{
				value: 0,
				label: '0'
				}] 
			},
		tools: {
			filter: {
				label: "filterLabel",
				position: "top left"
			}
		},
		boundaries: {
			country: {
				stroke: "#181b25",
				"stroke-width": 2,
				"stroke-linecap": "round",
				"stroke-opacity": 0.5
				},
			regions: {
				stroke: "#181b25",
				"stroke-width": 2,
				"stroke-linecap": "round",
				"stroke-opacity": 0.5
			}
			},
		tools: { 
			slider: { 
				columns: [2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023] 
				},
			filter: {
				label: "filterLabel",
				position: "top left"
				}
			},
		tooltip: "<strong class='subtitle'>{{ n }}</strong><br />{{ _value }}: <strong>{{ {{ _value }} }}</strong>",
		attribution: "<strong>Data:</strong> Office for National Statistics <a href='https://www.ons.gov.uk/peoplepopulationandcommunity/housing/datasets/ratioofhousepricetoresidencebasedearningslowerquartileandmedian'>House price to residence-based earnings ratio</a>." 
		}
}) }}