---
layout: template/page.vto
vispage: Areas
---
{{ include './areas/active.vto' }}

{{ include './areas/anchorLinks.vto' }}

{{ include './areas/vacantHomes.vto' }}

{{ include './areas/affordableHomes.vto' }}

{{ include './areas/housePrices.vto' }}
