---
layout: template/base.vto
---
<h1>{{ title }}</h1>
<p class='active {{ active }}'>{{ if active }}Active{{ else }}Inactive{{ /if }}</p>
<p>{{ if !active }}Replaced by {{ replacedBy |> JSON.stringify }} {{ /if }}</p>
{{# {{> console.log(page.data) }}
{{ name }} #}}
