{{ if active }}
    <p class='active {{ active }}'>Active</p>
{{ else }}
    <p class='active {{ active }}'>Inactive</p>
{{ /if }}
See <a href="https://findthatpostcode.uk/areas/{{ areacode }}.html">Find that Postcode</a> for detailed information on this geography.