<h2>Datasets</h2>
    <ol>
        <li><a href="#vacant-homes">Vacant homes</a></li>
        <li><a href="#dwellings-and-projections">Dwellings and household projections</a></li>
        <li><a href="#affordable-homes">Affordable homes</a></li>
        <li><a href="#house-prices">Median house prices</a></li>
        <li><a href="#population">Population</a></li>
        <li><a href="#stock-of-properties">Council tax stock of property</a></li>
        <li><a href="#additional-dwellings">Net additional dwellings</a></li>
    </ol>