<h2>Datasets</h2>
    <ol>
        <li><a href="#vacant-homes">Vacant homes</a></li>
        <li><a href="#dwellings-and-projections">Dwellings and household projections</a></li>
        <li><a href="#affordable-homes">Affordable homes</a></li>
        <li><a href="#house-prices">Median house prices</a></li>
    </ol>