---
title: Vacant Homes
section: visualisations
---
<input type="text" id="searchInput" onkeyup="filterList()" placeholder="Search for areas..">
<ul id="searchable">
    {{ for area of search.pages('area') }}
        <li><a href="{{ area.url }}">{{ area.name }}</a></li>
    {{ /for }}
</ul>

<script src="/assets/js/filterList.js"></script>