---
title: Home
---
<p>This site is a collection of all things housing. Over the summer, we will present visualisations, build tools and write blogs using housing open data.</p>

<div class='grid pane'>
{{ for page of search.pages() }}
    {{ if page.title != 'Home' }}
        {{ comp.navgrid({ heading: page.title , link: page.url, colour: page.colour }) }}
    {{ /if }}
{{ /for }}
</div>

