---
title: Data
colour: c5-bg
navorder: 10
---
<p>Vacant homes <a href="https://github.com/open-innovations/housing/blob/main/data/vacant-homes/AllCombined_Cleaned_2024.csv">cleaned and combined data</a>.</p>