---
title: "Elections and housing tenures"
section: data
colour: c9-bg
---
{{# First, lets import some modules to help us and set up paths so that they're system independent. #}}

<pre><code class="language-python">
from pathlib import Path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
ROOT = Path('../')
ROOT.resolve()
</code>
</pre>